*{
  letter-spacing: 2px;
  
}

.image-container1{   
    /* background-image: url("./Image/yoox.png"); */
    background-size: cover;
  }
 .image-container1 > img{
    width:100%;
    display:block;
    transition: opacity 1s ease;
  }
/*   
  .image-container1:hover img{
    opacity: 0;
  } */

  
.image-container2{   
    background-image: url("./Image/justbuy.png");
    background-size: cover;
  }
 .image-container2 > img{
    width:100%;
    display:block;
    transition: opacity 1s ease;
  }
  
  /* .image-container2:hover img{
    opacity: 0;
  } */

  .image-container3{   
    background-image: url("./Image/unsplash.png");
    background-size: cover;
  }
 .image-container3 > img{
    width:100%;
    display:block;
    transition: opacity 1s ease;
  }
  
  /* .image-container3:hover img{
    opacity: 0;
  } */

  .image-container4{   
    background-image: url("./Image/trackingtime.png");
    background-size: cover;
    /* padding: 10px; */
  }
 .image-container4 > img{
    width:100%; 
    display:block;
    transition: opacity 1s ease;
  }
/*   
  .image-container4:hover img{
    opacity: 0;
  } */

  .Typewriter{
    color: gray;
    font-size:20px;
  }